header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    height: 100%;
    text-align: center;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 2rem;
    bottom: 3rem;
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 32rem;
    height: 31rem;
    position: absolute;
    left: calc(50% - 15rem);
    margin-top: 4rem;
    border-radius: 16rem 16rem 0 0;
    overflow: hidden;
    padding: 0 1rem 1rem 0;
}

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    .me {
        /* height: 1000rem; */
        width: 22rem;
        left: calc(50% - 11rem);
        padding: 0 1.5rem 1.5rem 0;
    }
}